<h1>Please provide a zipcode</h1>
Try this one <a href="/peer/90201">90201<a>
<br/>
<p>Update population file: </p>
<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'csv' %>
  <%= submit_tag("Update") %>
<% end %>
<hr/>
<%= form_tag({action: :search}, method: "get") do %>
  <%= label_tag(:q, "Search by Zipcode:") %>
  <%= text_field_tag(:zip) %>
  <%= submit_tag("Search") %>
<% end %>

<p><b>Name:</b> <%= @response["name"] %> </p>
<p><b>ZipCode:</b> <%= @response["zipcode"] %> </p>
<p><b>CBSA:</b> <%= @response["CBSA"] %> </p>
<p><b>2014 Population:</b> <%= @response["population"]["2014"] %> </p>
<p><b>2015 Population:</b> <%= @response["population"]["2015"] %> </p>
